@import 'tailwindcss';

@keyframes jumpflash {
  from {
    opacity: 0.85;
  }
  to {
    opacity: 0;
  }
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #000;
}
